
.tag {
  display: inline-block;
  padding: 0.2rem 0.4rem;
  background-color: lighten(lightgrey, 10%);
  border-radius: var(--border-radius);
  margin-right: 0.4rem;
  color: darkblue;
  transition: color .2s ease, background-color .2s ease;

  &:hover {
    color: white;
    background-color: darkblue;
  }
}
