@font-face {
  font-family: 'worksans-web';
  src: url('../public/fonts/worksans-light.woff2') format('woff2'),
       url('../public/fonts/worksans-light.woff') format('woff');
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: 'worksans-web';
  src: url('../public/fonts/worksans-regular.woff2') format('woff2'),
       url('../public/fonts/worksans-regular.woff') format('woff');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'worksans-web';
  src: url('../public/fonts/worksans-bold.woff2') format('woff2'),
       url('../public/fonts/worksans-bold.woff') format('woff');
  font-style: normal;
  font-weight: 700;
}
