// --------------------------------------------------------------------------
// Mixins
// --------------------------------------------------------------------------

@use 'sass:math';

// Wrap element with pseudo clear fix
@mixin clearfix() {
  &:before,
  &:after {
    content: ' ';
    display: table;
  }

  &:after {
    clear: both;
  }
}


// Remove paddings/style from lists
@mixin unstyle-list() {
  padding-left: 0;
  list-style: none;
}

// Strip units
@function strip-unit($number) {
  @if type-of($number) == 'number' and not unitless($number) {
    @return math.div($number, ($number * 0 + 1));
  }

  @return $number;
}

// Relative units from pixels
$baseFontSize : 16;
@function rem($pixels, $context: $baseFontSize) {
  $u-pixels: strip-unit($pixels);
  $u-context: strip-unit($context);

  @if (unitless($u-pixels)) {
    $u-pixels: $u-pixels * 1px;
  }

  @if (unitless($u-context)) {
    $u-context: $u-context * 1px;
  }
  $result: math.div($u-pixels, $u-context) * 1rem;

  @return $result;
}

// Grid column
@mixin grid-col($fr, $of, $size:"") {
  .col--#{$size}#{$fr}-#{$of} {
    width: math.div(100%, $of) * $fr;
  }
}

@mixin grid-push($fr, $of, $size:"") {
  .push--#{$size}#{$fr}-#{$of} {
    margin-left: math.div(100%, $of) * $fr;
  }
}
